header{
    width:100%
}

header nav{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    height: 4rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-bottom-width: 1px;
}

header nav .web-title{
    flex: 1 1 0%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

header nav .web-title img{
    width: 2rem;
}

header nav .web-title span{
    color: rgb(20, 19, 19);
    font-size: 1.25rem;
    font-weight: 700;
}

header nav .about{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
}

header nav .about img{
    width: 1.5rem;
}

main{
    width: 100%;
    margin-top: 1rem;
}

main article{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
main article section{
    margin-bottom: 1rem;
}

.form,
.bookshelf,
.search{
    padding: 1.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0/0.1), 0 8px 10px -6px rgb(0 0 0/0.1);
}

.form h2{
    text-align: center;
    margin-bottom: 2rem;
}

.form-input{
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-input label{
    min-width: 6rem;
    flex-shrink: 0;
    font-weight: 700;
}

.form-input input{
    flex-grow: 1;
    border-radius: 0.2rem;
    border: 1px solid rgb(214, 214, 214);
    padding: 0.375rem;
}

.checkbox label{
    font-weight: 700;
}

.form .submit{
    background-color: #2563eb;
    color: white;
    width: 100%;
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    transition: all .25s ease-in-out;
}
.form .submit:hover{
    background-color: #1549bb ;
}

.search h2{
    text-align: center;
    margin-bottom: 2rem;
}

.bookshelf h2{
    text-align: center;
    margin-bottom: 2rem;
}

.bookshelf .uncomplete,
.bookshelf .complete{
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem 1.5rem;
}

.data .buku{
    margin-top: 0.5rem;
    padding: 0.875rem;
    box-shadow: 0 10px 25px -5px rgb(0 0 0/0.1), 0 -2px 10px -6px rgb(0 0 0/0.1);
    border-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
}

.data .buku .list p{
    font-size: 0.875rem;
    margin-top: 0.25rem;
    flex: 1 1 0%;
}

.data .buku .option{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.data .buku .option button{
    padding: 0.5rem 0.875rem;
    border-radius: 0.25rem;
    color: white;
    font-weight: 600;
}

.data .buku .option .change{
    background-color: #2563eb;
}

.data .buku .option .delete{
    background-color: rgb(197, 30, 30);
}

.modal{
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0/0.3);
    position: fixed;
    inset: 0;
    z-index: 100;
}

.modal.active{
    display: flex;
}

.modal-content{
    width: 30rem;
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    z-index: 200;
}

.modal-content .icon{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.modal-content .icon svg{
    height: 8rem;
    width: 8rem;
    color: rgb(197, 30, 30);
}

.modal-content .icon svg.success{
    color: #2563eb;
}

.modal-content .information{
    text-align: center;
    margin-bottom: 1.5rem;
}

.modal-content .information span{
    font-weight: 700;
}

.modal-content .confirmation{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.modal-content .confirmation button{
    width: 100%;
    border-radius: 0.25rem;
    padding: 0.675rem;
    font-weight: 600;
}

.modal-content .confirmation .unconfirm{
    background-color: #c9c9c9;
}

.modal-content .confirmation .confirm{
    background-color: rgb(197, 30, 30);
    color: white;
}

@media (max-width:1024px) {
    main{
        padding: 0 1rem;
    }
}